<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saeko.receipeapplication">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:label="TMS Application"
        android:theme="@style/AppTheme">
        <activity android:name=".recipe.RecipeActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".recipe.RecipeDetailActivity" />
        <activity android:name=".song.MusicActivity"
            android:label="Music Player"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".song.MusicService" />
        <service android:name=".song.MediaPlaybackService"
            android:label="music service">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>
</manifest>